/* Basic styles */
/* body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}  */

body, html {
    height: 100%;
    margin: 0;
}

#body {
    padding: 0 0 0 0;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
}

body ul {
    list-style: none;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 200px;
    padding-right: 25px;
    padding-left: 25px;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    z-index: 3;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
   
} 

.btn {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0;
    font-size: 12px;
    line-height: 14px;
}

.btn-login {
    background-color: #ffffff;
    color: #333;
    border-right: 1px solid rgb(232, 113, 16);
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
    
.btn-login:hover {
    background-color: #bbbaba;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
    
.btn-register {
    background-color: rgb(232, 113, 16);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.btn-register:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Larger shadow on hover for emphasis */
}
    
.btn-primary {
    background-color: rgb(232, 113, 16);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
    
.btn:hover {
    opacity: 0.9;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* Header styles */
header {
    background-color: #fafafa;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 10px;
 }
/*
header nav {
    flex-grow: 1;
    text-align: left;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
} 

header nav li {
    margin-left: 0 20px;
} 

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}  */

.nav-logo {
    font-weight: bold;
    color: rgb(86, 86, 86);
    font-size: 20px;
    font: 'Montserrat', sans-serif;  
}

.nav-link {
    color: rgb(86, 86, 86);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding: 0 8px; 
    display: flex; 
    text-transform: uppercase;
}

#nav-menu {
    display: flex;
    font-size: 15px;
    padding-left: 360px;
    margin: 0;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

#nav-btn {
    display: flex;
    padding-right: 40px;
    margin-left: auto;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 300px;
    margin: 0;
    flex-direction: row;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.connecting-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 1000000;
    background: #fff;
}

.connecting-loader .loader-wrapper {
    display: inline-block;
    position: relative;
    top: calc(50% - 40px);
    padding: 20px;
}

.loader-icon

.mm-menu, .mm-slideout {
    --mm-sidebar-collapsed-size: 44px;
    --mm-sidebar-expanded-size: 440px;
}

.mm-slideout {
    transition: transform 0.4s;
    z-index: 1;
}

.mm-page{
    box-sizing: border-box;
    position: relative;
}

.smaller-header {
    padding: 10px 0; /* Reduced padding */
    transition: all 0.3s ease-in-out;
}

.smaller-header .logo h1 {
    font-size: 18px; /* Smaller logo size */
}

.smaller-header nav {
    margin-top: 0;
}

#volcanic-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    transition: padding 0.3s ease-in-out, top 0.3s ease-in-out;
    z-index: 1000;
}

#volcanic-header .container {
    display: flex;
    align-items: center;
    width: 100%; 
    padding-left: 20px;
}


/* Hero section styles */
.hero {
    background-color: #fff;
    padding: 80px 0;
    text-align: center;
    position: relative;
}

.hero-content {

    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Adjust height as necessary */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 40px #424242;
    margin-bottom: 0;
    position: relative;
    background-color: #595959;
    z-index: -1;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 120px;
    display: flex;
    position: relative;
}

.hero-content form {
    display: inline-block;
    margin-bottom: 20px;
}

.hero-content input[type="text"] {
    width: 350px;
    padding: 4px;
    margin-right: 0;
    border: 1px solid #ccc;
    border-radius: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
} 

.hero-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
    display: inline-block;
}

/* Search Box */

.search-box .form-control {
    margin-bottom: 6px;
    width: 200px; 
    display: inline-block;
    border-radius: 0;
    font-size: 12px;;
    border: none;
    cursor: pointer;
}

.form-control {
    margin-bottom: 6px;
    width: 200px; 
    display: inline-block;
    border-radius: 0;
    font-size: 12px;;
    border: none;
    cursor: pointer;
}

.icon p{
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
}


/* Featured jobs section styles */
#latest-jobs {
    background-color: #FFA500;
    padding: 20px;
}

#latest h4 {
    text-align: center; 
}

.jobs-container {
    display: flex;
    padding: 20px 0;
    margin-left: 10px;
    margin-right: 0px;
}

.job-card {
    background-color: #FF8C00; 
    color: #fff;
    padding: 20px;
    width: 20%; 
    margin: 0 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
    position: relative;
}

.job-card:hover {
    transform: translateY(-10px); 
    background-color: #fff;
    color: #FF8C00;
}

.job-card h3 {
    margin: 10px 0; 
    font-size: 18px;
    margin-bottom: 10px;
    color: inherit;
}

.job-card p {
    margin: 10px 0; 
    font-size: 12px;
    color: inherit;
}

.apply-btn {
    background-color: #fff;
    color: #FF8C00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
    position: absolute; 
    right: 0px;
    bottom: 0px;
}

.apply-btn:hover {
    background-color: #FF8C00;
    color: #fff;
}

/* Overlay Section*/
.overlay-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(42, 41, 41, 0.5); /* Grey with opacity */
    padding: 15px 0;
    z-index: 2;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
}

.icon-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: calc(20% * 6);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.icon {
    flex: 0 0 20%;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    padding: 10px;
}

.icon img {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    fill: #ffffff;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s;
    display: block;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.prev-btn::before, .next-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    margin-top: -4px; /* Align center */
    margin-left: -4px; /* Align center */
}

.prev-btn::before {
    border-right-color: #333; /* Arrow color */
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 8px; /* Arrow size */
    height: 8px; /* Arrow size */
}

.next-btn::before {
    border-left-color: #333; /* Arrow color */
    transform: translate(-50%, -50%) rotate(45deg);
    width: 8px; /* Arrow size */
    height: 8px; /* Arrow size */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-section {
    margin-bottom: 50px;
    position: relative;
}

#content {
    padding-bottom: 30px;
}

/* Additional styling for your slider component */

/* Latest Insight */
#latest-insights {
    padding: 20px;
}

#latest-insights h2 {
    font-size: 24px;
}

.insights-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.insight {
    width: 30%;
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 165, 0, 0.75); /* Orange background with transparency */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
}

.insight:hover .info {
    opacity: 1;
}

/* Footer styles */
#volcanic-footer {
    background-color: #333;
    color: #fff;
    padding: 25px  0;
    text-align: center;
    font-size: 10px;
    position: relative;
    width: 100%;
    clear: both;
    z-index: 1;
    position: relative;
}

.footer-section {
    display: -webkit-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 10px;
}

.footer-section img {
    width: 30x;
    height: 30px;
    object-fit: cover;
    margin-bottom: 10px;
}

.info-socmed h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.info-socmed {
    /*display: flex;*/
    align-items: center;
    inline-size: auto;
    justify-content: space-between;

}

.icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    perspective: 1000px;
    cursor: pointer;
}

.icon:hover {
    transform: rotateX(-10deg);
}

.icon-footer h3{
    inline-size: auto;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.icon-footer-msg h3 {
    inline-size: auto;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.icon-footer-msg img {
    width: 50px;
    height: auto;
    justify-content: space-between;
    inline-size: auto;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.social-links {
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;
    z-index: 3;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 70%;
}

/* .socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socmed img {
    width: 24px; 
    height: auto; 
} */


/* Styles for Mobile Navigation */
.hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.hamburger-menu.active .bar {
    background-color: #ff8000; /* Change color when menu is active */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: transform 0.3s ease-in-out; /* Smooth transition for bar animation */
}

.bar:nth-child(1) {
    transform: translateY(-6px) rotate(45deg);
}

.bar:nth-child(2) {
    opacity: 0;
}

.bar:nth-child(3) {
    transform: translateY(6px) rotate(-45deg);
}

#about-us .container {
 padding-top: 20px;
 padding-bottom: 100px;
 position: relative;
}

#about-us .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/about-us.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;  /* Adjust opacity here */
    z-index: -1;
}

#about-us h4{
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 40px #424242;
}

#about-us p {
    text-align: center;
    font-size: 14px;
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px 40px #424242;
    margin-bottom: 20px;
}

#about-us h5 {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.division {
    display: flex;
    justify-content: space-around;  
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;  
    width: 100%;  
    padding: 10px 0;
}

.read-more {
    background: transparent;  
    border: 2px solid white;  
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    display: flex;
}

.read-more:hover {
    background-color: white;  
    color: #333;  
}

/* Testimonials section styles */

#testimonials .h4 {
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 2px 40px #424242;
    display: flex;

}

#testimonials .container {
    padding-top: 20px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
}

.profile {
    text-align: center;
    margin-top: 30px;
}

.profile profile-image {
    width: 80px !important;
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
    display: block; 
    margin: 0 auto 10px; 
}

.profile-image:hover {
    transform: scale(1.1); /* Enlarges the image on hover */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.name p{
    font-weight: bold;
    color: #724a19;
    text-align: center;
}

/* Work section */
#work-with-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px 0 45px;
    background-color: #FF8C00; /* Orange background */
    color: #ffffff;
}

.text-box {
    flex-basis: 50%;
    background-color: #ff8c00;
    color: rgb(240, 236, 236);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
} 

.image-box {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.learn-more-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.learn-more-btn:hover {
    background-color: #ddd;
    color: #222;
}

.image-container {
    padding-bottom: 20px;
}

#latest-insights .container {
    text-align: center;
}

#latest-insights h4 {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
        text-align: center;
    }

    .hero-content {
        justify-content: center; 
        background-position: top center;
        height: 60vh;
    }

    .hero-content h2 {
        padding-top: 10px;
    } /* Missing closing brace added here */

    .nav-menu {
        flex-direction: column; 
    }

    .search-box {
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
    }

    #nav-menu.active {
        display: flex; /* Make the navigation menu visible */
        flex-direction: column; /* Arrange menu items vertically */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    #nav-menu.active ul {
        flex-direction: column; /* Arrange menu items vertically */
    }

    #nav-menu.active li {
        margin: 10px 0;
    }

    .jobs-container {
        flex-direction: column;
    }

    .job-card {
        width: 90%;  /* Adjust width for smaller screens */
        margin: 10px auto;
    }

    .work-with-us {
        flex-direction: column;
    }

    .work-for-us {
        flex-direction: column;
    }

    .content, .image-container {
        width: 100%;
    }

 }


 /* Media queries for mobile devices */
 @media (max-width: 480px) {

    .container {
        max-width: 450px;
    }

    .hero-content {
        justify-content: center; 
        height: 50vh;
    }

    .hero-content h2 {
        padding-top: 10px; /* Reduces padding on smaller devices */
    }

    .nav-menu {
        flex-direction: column; 
    }

    /* Styles for the navigation menu when active */
    #nav-menu.active {
        display: flex; /* Make the navigation menu visible */
        flex-direction: column; /* Arrange menu items vertically */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    #nav-menu.active ul {
        flex-direction: column; /* Arrange menu items vertically */
    }

    #nav-menu.active li {
        margin: 10px 0;
    }

    .search-box {
        flex-direction: column;
    }

    .overlay-section {
        padding: 10px 0;  /* Even smaller padding */
        background-color: rgba(128, 128, 128, 0.7);
        font-size: 10px;  /* Slightly darker for better readability on small devices */
    }

    #volcanic-footer .footer-section{
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 8px;
    }

    .jobs-container {
        flex-direction: column;
    }

    .job-card {
        width: 90%;  /* Adjust width for smaller screens */
        margin: 10px auto;
    }

    #testimonials .container {
        padding-top: 5px;
        padding-bottom: 20px;
    }

    #testimonials .h4 {
        font-size: 12px;
        color: #fff;
    }

    .work-with-us {
        flex-direction: column;
    }

    .work-for-us {
        flex-direction: column;
    }

    .content, .image-container {
        width: 100%;
    }
}

